
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###
