includes:
	- phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - config
        - public

services:
    - class: Tools\TypeResolver\QueryOutputTypeResolver
      tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
