includes:
	- phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - config
        - public

services:
    -
        class: Tools\PhpStan\QueryBusReturn
        tags:
        - phpstan.broker.dynamicMethodReturnTypeExtension
